
    <h1><%= @cocktail.name %></h1>


    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li>
        <span><%= dose.description %> of <%= dose.ingredient.name %></span>
        <%= link_to 'Destroy', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
      </li>
      <% end %>
    </ul>

        <%#= link_to "Add Ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-secondary" %>

